:root {
  --bg: #202328;
  --bg-light: #202328;
  --bg-panel: #141517;
  --text: #e6e6e6;
  --accent: #0d0d0c;
  --accent-hover: #3d3d3b;
  --danger: #ff4d4d;
  --danger-hover: #e69d00;
  --success: #77d0e8;
  --success-hover: #e6e600;
  --border: #888888;
  --input-bg: #20304900;
  --para-font-size: 16px;
  --button-font-size: 18px;
  --title-font-size: 24px;
  --portfolio-select-bg: #0f172a;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: var(--bg);
  color: var(--text);
}

.hidden {
  display: none !important;
}


#login-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  z-index: 900;
}

.login-box {
  background: rgba(0, 0, 0, 0.0);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 700px;
  height: auto;
  text-align: center;
}

.login-box h1 {
  margin-bottom: 1px;
  font-size: 70px;
}

.login-box sup {
  font-size: 20px;
}

.subline {
  font-size: 15px;
  color: var(--text);
  margin-bottom: 24px;
  text-align: center;
}


.disclaimer {
  font-size: 12px;
  color: red;
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  background: var(--bg-light);
  border-radius: 8px;
  max-width: 80%;
  margin: 20px auto;
}

.login-box input {
  width: 100%;
  max-width: 500px;
  padding: 9px;
  background: var(--input-bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 25px;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  #login-screen {
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-box {
    width: 100%;
    padding: 16px;
  }



  .footer .social-icons {
    margin-top: 8px;
  }

  #login-screen {
    top: 40%;
    transform: translate(-50%, -40%);
  }

  .subline {
    font-size: 12px;
  }
}

#token-input, #email-input {
  border: 2px solid var(--border);
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

#token-input::placeholder, #email-input::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: grey;
}

#login-btn, #register-btn {
  background: none;
  border: none;
  color: var(--text);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: color 0.3s ease;
}

#login-btn .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

#login-btn:hover {
  color: var(--accent-hover);
}

#login-btn:hover .arrow {
  transform: translateX(10px);
}

.login-box button {
  width: 100%;
  padding: 9px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:hover {
  background: var(--accent-hover);
}

.error-msg {
  color: var(--danger);
  font-size: 14px;
}

/* Styling for the register box */
#register-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 10px;
  background: var(--bg-light);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Input styling (inherits existing styles) */
#register-box input {
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid var(--border);
  border-radius: 25px;
  background: var(--input-bg);
  color: var(--text);
  margin: 0px !important;
}

/* Button styling (inherits existing button styles) */
#register-box button {
  width: 15%;
  font-size: var(--button-font-size);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Close button styling */
#register-box span {
  width: 10%;
  font-size: 18px;
  color: var(--danger);
  cursor: pointer;
  transition: color 0.3s ease;
}

#register-box span:hover {
  color: var(--danger-hover);
}

.app {
  display: flex;
  height: 100%;
}


.sidebar {
  width: 300px;
  max-width: 600px;
  min-width: 100px;
  background: var(--bg-panel);
  padding: 10px 5px 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  position: relative;
  scrollbar-width: 10px;
  scrollbar-color: var(--accent-hover) var(--bg-light);
}

.sidebar-resize-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  width: 10px;
  height: 30px;
  cursor: ew-resize;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-resize-handle::before {
  content: "⋮";
  font-size: 16px;
  margin-right: 4px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebar h2 {
  margin-bottom: 16px;
  font-size: 17px;
  color: var(--text);
}

.sidebar select {
  height: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid var(--border);
  background: var(--bg-light);
  color: var(--text);
}

#portfolio.tab {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#portfolio-dropdown {
  padding: 8px;
  background: var(--portfolio-select-bg);
  color: var(--text);
  border-radius: 4px;
  border: 1px solid var(--border);
  width: 300px;
}


button,
.primary-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  border: 1px solid var(--border);

  font-weight: 500;
  cursor: pointer;
  font-size: var(--button-font-size);
  transition: background 0.2s ease;
}

.primary-btn {
  background: var(--success);
  color: var(--accent);
}

.primary-btn:hover {
  background: var(--success-hover);
}

button.save {
  background: var(--accent);
  color: white;
}

button.save:hover {
  background: var(--accent-hover);
}

button.delete {
  background: var(--danger);
  color: white;
}

button.delete:hover {
  background: var(--danger-hover);
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 95%;
  min-width: 400px;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

#app-screen {
  flex: 1;
  display: flex;
  overflow: auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-panel);
  padding: 12px 16px;
  border-bottom: 1px solid var(--border);
  min-width: 450px;
}

.tabs button {
  background: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 8px 8px 0 0;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
  transition: background 0.3s ease, transform 0.2s ease;
}

.tab-button.active-tab {
  background-color: #333;
  color: #fff;

}

.tabs button.active-tab {
  background: var(--accent-hover);
  transform: translateY(-2px);
}

.tabs button:hover {
  background: var(--accent-hover);
  transform: translateY(-2px);

  text-decoration: none;
}

.topbar select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--border);
  background: var(--bg-light);

  color: var(--text);

}

.advisor-tab {
  border: none;
}

.advisor-box {
  display: flex;
  padding: 16px;
  gap: 16px;
  align-items: center;
  border-top: 1px solid var(--border);
  width: 100%;
}

.advisor-box textarea {
  width: 100%;
  flex: 1;
  padding: 12px;
  background: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 6px;
  min-height: 80px;
  max-height: 150px;
  resize: horizontal;
  color: var(--text);
}

.textarea-wrapper {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--bg);
  padding: 5px;

  padding-bottom: 60px;
  width: 700px;
}

.textarea-wrapper textarea {
  width: 100%;
  height: 150px;
  padding: 0.75rem;
  padding-bottom: 3rem;
  background: transparent;
  border: none;
  color: var(--text);
  font-size: 1rem;
  resize: vertical;
  box-sizing: border-box;
}



.input-footer {
  position: absolute;
  bottom: 0.5rem;
  left: 0.75rem;
  right: 0.75rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.input-footer select {
  flex: 2;
  min-width: 150px;
  border: none;
}

.input-footer select {
  flex: 2;
  padding: 0.5rem;
  background: var(--portfolio-select-bg);
  border-radius: 6px;
  color: var(--text);
  font-size: 0.95rem;
  min-width: 0;
}

.input-footer button {
  flex: 1;
  padding: 0.5rem;
  border-radius: 6px;
  border: 0px solid var(--border);
  background: var(--accent);
  color: var(--text);
  font-weight: bold;
  white-space: nowrap;
  max-width: 100px;
}

.input-footer button:hover {
  background: var(--accent-hover);
}

.response-box {
  padding: 16px;
}

.response-box h2,
.response-box h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.response-box a {
  color: var(--accent);
  text-decoration: none;
}

.response-box a:hover {
  text-decoration: underline;
}


.portfolio-controls {
  display: flex;
  gap: 8px;
  padding: 16px;
  background: var(--bg-light);
  border-bottom: 1px solid var(--border);
}

#portfolio-name {
  width: 50%;
  background: var(--input-bg);
  color: var(--text);
  margin-bottom: -5px;
}

.portfolio-name-field {
  display: flex;
  align-items: center;
  background: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px 5px;
  margin-left: 20px;
  font-size: 1rem;
  color: var(--text);
  width: 100%;
  max-width: 500px;
}

.portfolio-name-field .prefix {
  color: #999;
  font-weight: bold;
  margin-right: 0.5rem;
  white-space: nowrap;
  pointer-events: none;
  padding: 0 5px;
}

.portfolio-name-field input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  font-size: inherit;
  margin-bottom: -5px;
}


.asset-table-wrapper {
  max-width: 1500px;
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
  margin: 20px !important;
  padding: 16px 16px 16px 16px;
  scrollbar-width: 20px;
  scrollbar-color: var(--accent-hover) var(--bg-light);
}

#asset-table {
  width: max-content;
  min-width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-radius: 18px;
}

#asset-table th,
#asset-table td {
  padding: 8px;
  text-align: left;
  background: var(--bg-light);
  color: var(--text);
}

#asset-table th {
  font-weight: bold;
}

#asset-table button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--text);
}


.viewer-box {
  padding: 24px;
  background: var(--bg-light);
  color: #f1f5f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  font-size: 16px;
  margin: 10px;
  overflow-y: auto;
  height: calc(100vh - 130px);
  scrollbar-width: 20px;
  scrollbar-color: var(--accent-hover) var(--bg-light);
}

.viewer-box h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.viewer-box .timestamp,
.viewer-box .portfolio-name {
  font-size: 13px;
  color: #94a3b8;
  margin-bottom: 8px;
}

.viewer-box h3 {
  margin-top: 16px;
  font-size: 17px;
  border-top: 1px solid var(--border);
  padding-top: 12px;
}

.viewer-box p {
  margin-bottom: 12px;
}


.archive-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--text);
}


.archive-item {
  background: none;
  padding: 4px;
  border-radius: 4px;
  font-size: var(--para-font-size);
  cursor: pointer;
  overflow: hidden;
}

.archive-item.active,
.archive-item:hover {
  background-color: var(--bg-light);
}

.archive-title-wrapper {
  display: flex;

  align-items: center;

  overflow: hidden;

  white-space: nowrap;
  position: relative;
  z-index: inherit;
}

.archive-title {
  flex-grow: 1;

  text-align: left;

  transition: none;
  will-change: auto;
  z-index: 1;
}

.delete-archive-btn {
  flex-shrink: 0;
  background: var(--danger);
  color: rgb(255, 255, 255);
  border: 5px rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  z-index: 2;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.delete-archive-btn:hover {
  background: var(--danger-hover);
  transform: scale(1.01);
}


#asset-table td {
  position: relative;
  overflow: visible;
  z-index: 0;
}

#asset-table td input,
#asset-table td select {
  width: 100%;
  padding: 5px 5px 2px 5px;
  position: relative;
  z-index: 1;
  background: var(--bg-panel);
  color: var(--text);
  border-radius: 5px;
  box-shadow: none;
  border: none;
  outline: none;
}


#col-ticker,
#col-price,
#col-units,
#col-hedges {
  width: 100px;
}

#col-delete {
  color: red;
}


#add-asset-btn {
  display: block;
  margin: 16px auto;
  padding: 9px 19px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 8px;
  border-color: var(--border);
  cursor: pointer;
  font-size: 16px;
}

#add-asset-btn:hover {
  background: var(--accent-hover);
}


.portfolio-controls button {
  background: var(--accent);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.portfolio-controls button:hover {
  background: var(--accent-hover);
}

hr {
  border: none;
  height: 0.5px;
  background: linear-gradient(to right, transparent, var(--border), transparent);
  background-size: 200% auto;

  margin: 6px auto;
  display: block;
  width: 45%;
  text-align: center;
  animation: hover-shadow 4s infinite ease-in-out;
}

@keyframes hover-shadow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: underline;
  color: var(--accent-hover);
}

.footer {
  flex-shrink: 0;
  background: var(--bg-light);
  color: var(--text);
  text-align: center;
  padding: 8px 16px;
  border-top: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 997;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer p {
  margin: 0;
  font-size: 15px;
}

.footer .social-icons {
  display: flex;
  gap: 16px;
}

.footer .social-icons img {
  width: 20px;
  height: 20px;
}

.footer .social-icons a {
  color: var(--text);
  text-decoration: none;
  font-size: 19px;
}

.footer .social-icons a:hover {
  color: var(--accent);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-center {
  text-align: center;
  flex-grow: 1;
  font-size: var(--title-font-size) !important;
}

.footer-center sup {
  text-align: center;
  flex-grow: 1;
  font-size: 12px;
}

.asset-table-wrapper::-webkit-scrollbar {
  width: 8px;
}

.asset-table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.asset-table-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--bg-light);
  border: 2px solid #f1f1f1;
}

.asset-table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#response {
  height: calc(100vh - 365px);
  overflow-y: auto;
  overflow-x: auto;
  font-size: var(--para-font-size);
  scrollbar-width: 20px;
  scrollbar-color: var(--accent-hover) var(--bg-light);
}


.error-font {
  color: var(--danger);
  font-size: var(--para-font-size);
  margin-top: 8px;
  text-align: center;
}

.error-font-portfolio-name {
  color: red;
  text-align: left;
  margin: 5px 0px 0px 25px;
  font-size: var(--para-font-size);
}

.refresh-arch-btn {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  padding: 10px 15px;
  margin-right: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--button-font-size);
  border: solid 1px var(--border) !important;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.refresh-arch-btn:hover {
  background-color: var(--accent-hover);
}

.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #555;
}

.ellipsis span {
  display: inline-block;
  animation: waveAnimation 1.5s infinite ease-in-out;
}

.ellipsis span:nth-child(1) {
  animation-delay: 0.2s;
}

.ellipsis span:nth-child(2) {
  animation-delay: 0.5s;
}

.ellipsis span:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes waveAnimation {

  0%,
  20% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  80%,
  100% {
    transform: translateY(0);
  }
}

.logout-button {
  color: white;
  border: solid 1px var(--border);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: var(--button-font-size);
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: auto;
  background-color: var(--accent);
  transition: background-color 0.3s ease;
}


.logout-button:hover {
  background: var(--accent-hover);
}

#response::-webkit-scrollbar,
.viewer-box::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 8px;
}

#response::-webkit-scrollbar-track,
.viewer-box::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  background: #f54e4e;
}

#response::-webkit-scrollbar-thumb,
.viewer-box::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--accent);

  border: 2px solid #f1f1f1;

}

#response::-webkit-scrollbar-thumb:hover,
.viewer-box::-webkit-scrollbar-thumb:hover,
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

div.grecaptcha-badge {
  z-index: 1000;
}